  .body {
      color: #3f55b8;
      font-size: 1em;
      font-family: "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .content-footer,
  .masthead-heading,
  .masthead-intro {
    text-align: center;
  }
  
  .masthead {
    padding: 6em 0;
    background-image: url("images/web-3706563_1920.jpg");
    background-repeat: no-repeat;
    opacity: 0.9;
  }
  
  .masthead-intro {
      display: flex;
      margin-top: .0001em;
      margin-bottom: 50px;
      font-size: 5em;
      color: #000000;
      text-align: center;
      
  }
  
  .masthead-heading {
      display: flex;
      margin-top: -0.2em;
      font-weight:bolder;
      font-size: 4em;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #000000;
  }
  .nav {
     display: flex;
     flex-direction: row;
     justify-content:space-evenly;
     top: 20px;
     font-size: larger;
     font-weight: 1000;
     padding-top: 5%;
     padding-bottom: 15%;
  }
  
  .details {
      max-width: 38em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
  }
  
  .details > p {
      font-weight: 300;
      letter-spacing: 0.05em;
  }
  
  .details > h2 {
      font-size: 1.2em;
      font-weight: bold;
      margin: 2em 0 1em 0;
  }
  
  section > h1 {
      margin-top: 2em;
  }
  
  
 .skills {
   display: flex;
   flex-direction: row;
   justify-content:space-evenly;
   border: 10px black;
   padding-bottom: 10%;    
}



.homework {   
   position: flex;  
   width: 10%;
   left: 5%;
padding-right: 10%;
}

.project2 {  
   position:flex;  
   width: 20%;
   left: 25%;
   padding-right: 10%;
}

.project3 {
   position:flex; 
   width:23%;
   left: 50%;
   
}

.footer {
  display: flex;
  justify-content: center;
  
}

.headshot {
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.projects {
    padding-top:5%;    
}
.about-me {
   padding-bottom:5%;   
}
.contact-me {
    padding-bottom: 5%;
}

.p2 {
    font-size: 25px;
}

@media (max-width: 80em){
body {
   background-color: rgb(128, 128, 230);
  } 
